
#bg {
    background-color: black;
    
}
.top-menu {
    background-color: grey;
    display: flex;
    
}
.logo {
    width: 60px;
    height: 40px;
    display: block;
    float: left;

}
.titles {
    color: white;
    display: inline-block
    
}

.titles#main {
    font-weight: 300;
    
    font-size: 30px;
    float: right;
    padding-left: 15px;    
}
div.bottom-menu{
    position: absolute;
    bottom: 0;
    right: 80px;
    
}
div.list  {
    display:inline-block;
    align-items: center;

    
}



