
#bg {
    background-color: black;
    
}
.top-menu {
    background-color: grey;
    display: flex;
    
}
.logo {
    width: 75px;
    height: 75px;
    display: block;
    
}
.titles {
    color: white;
    display: flex;
    
}

.titles#main {
    font-weight: 700;
    text-decoration: underline;
    font-size: 45px;
    text-align: right;
    
}

.list  {
    color: red;
}



