/*Background color. */
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*Top bar, with clickable logo, name of organization and other features on the right.*/
.top-menu {
    height: 60px;
    width: auto;
    background-color: grey;
    display: inline-block;
    border: 1px solid lightblue;
    padding: 2px;
    }

/*Code for every title, large or small.*/
div.titles {
    color: white;    
    height: 60px;
}

/*Metro Ink logo on the top bar.*/
.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
}
/*Change the positioning and spacing of the main title*/
div.titles#main {
    
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    
    padding: 10px 0px 0px 10px;
}
/*Clickable dropdown menu on the top right. */
.top-menu .right{
    height: 60px;
    display: inline-block;
    float: right;
    padding: 10px 10px 0px 10px;
    
}


/*The bottom portion of the page, which should be separate from the rest.
I want to add different color for this portion. */

footer {
    background-color: grey;
    margin-top: auto;
    width: auto;
    height: auto;

}
.list  {
    display: block;
    margin: 5px;
    padding-left: 300px;
}



